body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 364px;
    background-color: rgb(49, 45, 45);
    padding: 12px;
    border-radius: 26px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: gray;
    border: 0px;
    color: lightblue;
    font-size: 24px;
    font-weight: bold;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.display {
    font-size: 40px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 8px;
    text-align: end;
    width: 350px;
    height: 90px;
    background-color: lightslategray;
    color: aliceblue;
    padding: 6px;
}

.bracket,
.mod,
.division,
.X,
.minus,
.plus {
    background-color: blue;
}

.equals {
    background-color: darkblue;
}

.clear {
    background-color: green;
}