.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.display {
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 8px;
    text-align: end;
    width: 190px;
    height: 32px;
}